body {
  font-family: 'Quantico', sans-serif;
}

.myButtons {
  width: 13%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.myDisplay {
  width: 55%;
  height: 40%;
  border: 5px solid #ffffff;
}